@import '../../index.scss';

.mobileMenu {
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--primari-bg-color);

  z-index: 999;

  overflow-y: scroll;
}

.mobile-menu__container {
  position: relative;

  height: 100vh;

  margin-left: auto;
  margin-right: auto;

  // @media screen and (max-width: 767.98px) {
  //   max-width: 480px;
  // }

  // @media screen and (min-width: 768px) {
  //   width: 768px;
  // }
}

.list {
  height: 100vh;
  @include displey-flex;
  gap: 30px;

  flex-direction: column;
}

.text {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--secondary-text-color);
  font-family: var(--font);

  @media screen and (min-width: 768px) {
    font-size: 1.8em;

    // margin-bottom: 15px;
  }

  @media screen and (min-width: 1200px) {
    // margin-bottom: 25px;

    font-size: 2em;
  }
}

.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.box {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 25px;
  user-select: none;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }

  // @media screen and (min-width: 1200px) {
  //   width: 800px;
  // }
}

.checkmark {
  position: relative;
  top: 0;
  right: 0px;
  height: 1em;
  width: 1.3em;
}

.checkmark span {
  width: 30px;
  height: 2px;
  background-color: var(--secondary-text-color);
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    width: 35px;
    height: 3px;
  }
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}

.box input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.box input:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

.box input:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  opacity: 0;
}
