:root {
  --font: 'MontSerrat', 'Tahoma', 'Arial', sans-serif;
  --secondary-font: 'Lato', 'Helvetica', 'Arial', sans-serif;
  // MontSerrat,Tahoma,Arial,sans-serif;

  // text-color

  --primary-text-color: #8a8a8a;
  --secondary-text-color: #cacaca;
  --color-white: #ffffff;

  //   // bg-color

  --primari-bg-color: #2a2a2a;
  //   --secondary-bg-color: #f5f4fa;
  //   --accent-color: #2196f3;
  //   --footer-bg-color: #2f303a;

  //   // animation

  //   --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //   // border

  //   --br: 4px;

  // --select-bg-color: #434d67;

  /* btn colors */

  // --main-button-color: #f3f3f3;
  // --accent-btn-color: #161f37;
  // --disablet-btn-color: #434d67;

  /*transition*/

  --transition-btn: background-color 400ms, border-color 400ms;
  --transition-btn-color: color 400ms, border-color 400ms;
}
