.wrapper {
  //   padding: 0;
  //   margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Відступ між елементами списку */
}

.projectItem {
  width: 100%; /* Ширина займає 100% від ширини батьківського елемента */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Тінь для рамки */
}

.projectCard {
  display: block;
  text-decoration: none;
  color: inherit; /* Зберігає стандартний колір тексту */
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px; /* Рамка навколо зображення */
}

.projectImage {
  width: 100%;
  display: block; /* Виправляє будь-які відступи внизу зображення */
}

.projectCard::before {
  content: attr(
    data-title
  ); /* Використовує атрибут data-title для відображення назви */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7); /* Напівпрозорий фон для назви */
  color: white;
  font-size: 16px;
  text-align: center;
}
