@import '../index.scss';

.section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  // position: fixed;

  // width: 100%;
  padding: 10px;

  display: flex;
  justify-content: flex-end;

  @media screen and (min-width: 768px) {
    padding: 15px;
  }

  @media screen and (min-width: 1200px) {
  }
}
