@import '../index.scss';

.section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 10px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 15px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.headerMenu_container {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.list {
  @include displey-flex;
  gap: 20px;
}

.link {
  padding-top: 5px;
  padding-bottom: 5px;
}

.text {
  position: relative;

  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--secondary-text-color);
  font-family: var(--font);

  &::after {
    content: '';
    position: absolute;

    bottom: 0;
    left: 0;

    height: 2px;
    width: 0%;
    background-color: var(--primary-text-color);
    border: var(--br);
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 1.6em;
  }
}
