@import '../index.scss';

.section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 10px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 15px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.nav_button {
  transform: translateY(0);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_button_left {
  position: absolute;
  top: 10px;
  left: 10px;
  @media screen and (min-width: 768px) {
    top: 15px;
    left: 15px;
  }
}

.nav_button svg {
  transition: transform 0.3s ease;
}

.nav_button:hover svg {
  transform: scale(1.2);
}

.button_text {
  display: block;
  position: absolute;
  right: 100%;
  transition: all 0.3s ease;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;

  font-size: 1.2em;
  line-height: 1em;
  font-weight: 500;
  letter-spacing: -1px;
  color: var(--secondary-text-color);
  font-family: var(--font);
}

.custom_button_left:hover .button_text {
  right: calc(-100% + (-50px));
  visibility: visible;
  opacity: 1;
}
